API=http://192.168.1.90/seminar-api/public/api/

AUTH_PUBLIC=gGnyWtx21ztdIsxGG8CFxSPy7ur80Gaye2mz8EUcyEmmnL6vvcF2HtmUzFTxkm9Q

API_MEMBER=http://192.168.1.90/member-api/public/api/auth/

API_INV=http://192.168.1.90/api_go_transaksi/public/api/

API_PAYMENT=http://192.168.1.90/api_go_payment/public/api/public/

URL_PAYMENT=http://192.168.1.90/payment/

API_IP=https://api.ipify.org/?format=json

client_id=2

client_payment='gtr'

client_secret=se4sxIkKJbAzMcQbImmfxGZTCaLzu51ZsII9haSy